<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="Stylesheet" href="/css/default.css" type="text/css" />
    

    @*Allow for views to inject links and other items into the page head*@
    @RenderSection("Head", false)
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="/img/ArmadilloLogo.png" alt="Armadillo Corp." />
            </a>
            <ul class="navbar-nav">
                <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Armadillo" ? "active" : "")">
                    @Html.ActionLink("Armadillo Farm", "Index", "Armadillo", null, new { @class = "nav-link" })
                </li>
            </ul>
        </nav>
        </div>
        <div class="container">
        <div class="mainbody">
        <header>
            @RenderSection("Header", false)
        </header>
        <main>
            <div class="row">
                <div class="col-sm-9">
                    @RenderBody()
                </div>
                <div class="col-sm-3">
                    @RenderSection("Sidebar", false)
                </div>
            </div>
        </main>
        <footer></footer>
        </div>
    </div>
    @*Current best practice is to load scripts before the closing body tag.  
        This increases rendering speed of the rest of the document *@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    @RenderSection("Scripts", false)
</body>
</html>
