@model IEnumerable<Armadillo>

<ul class="list-group">
    @foreach (var armadillo in Model)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-3">
                    @*@Html.ActionLink("Edit", "Edit", "Armadillo", new { @id = armadillo.ID }, new { @class = "btn btn-primary"})*@
                    <a href="@Url.Action("Edit", "Armadillo", new { @id = armadillo.ID })" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                </div>
                <div class="col-6">
                    <a href="@Url.Action("View", "Armadillo", new { @id = armadillo.ID })">@armadillo.Name</a>
                </div>
                <div class="col-3">
                    <form asp-action="Delete" asp-controller="Armadillo" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@armadillo.ID" />
                        <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i></button>
                    </form>
                </div>
            </div>
        </li>

    }
</ul>